@import '../base/variables.css';

nav a {
    text-decoration: none;
}

nav h1 {
    margin: 0;
}

/** For Public **/
nav.public {
    background-color: var(--dark);
    padding: 0.6rem 0;
}

nav.legal .content,
nav.legal .content #navigation,
nav.legal #navigation ul {
    display:flex;
    align-items: center;
}

nav.legal .content {
    justify-content: center;
}

nav.legal a {
    color: var(--white);
    padding: 0.6rem 1.2rem;
}

nav.legal a:hover {
    background-color: var(--light);
    color: var(--dark);
}

nav.legal h1 {
    color: var(--white);
    padding: 0 0.9rem;
    font-size: large;
}

@media (min-width: 768px) {
    nav.legal {
        padding: 0.6rem 0.3rem;
    }
    
    nav.legal .content {
        justify-content: space-between;
    }

    nav.legal a {
        padding: 0.9rem;
    }
}