<nav class="legal">
    <div class="content">
        <div id="navigation">
            <ul>
                <li><a class="link" href="{{ url_for('app_terms') }}">Termos</a></li>
                <li><a class="link" href="{{ url_for('app_privacy') }}">Privacidade</a></li>
                <li><a class="link" href="{{ url_for('app_cookies') }}">Cookies</a></li>
            </ul>
        </div>
        <div id="action">
            <a class="link" href="{{ url_for('app_auth') }}">Login</a>
        </div>
    </div>
</nav>