{% extends "layouts/legal.html" %}

{% block title %}Política de Cookies{% endblock %}

{% block body %}
<div id="cookies">
    <header>
        <section id="hero">
            <h1>Política de Cookies</h1>
            <p>Esta é a nossa política de cookies. Aqui explicamos como usamos cookies em nosso site.</p>
        </section>
    </header>
    <main>
        <h2>O que são cookies?</h2>
        <p>Cookies são pequenos arquivos de texto que são armazenados no seu dispositivo quando você visita um site. Eles ajudam a melhorar a sua experiência, lembrando suas preferências e informações de login.</p>
        <h2>Como usamos os cookies?</h2>
        <p>Usamos cookies para:</p>
        <ul>
            <li>Lembrar suas preferências de idioma e layout.</li>
            <li>Manter você logado em sua conta.</li>
            <li>Coletar dados analíticos para melhorar nosso site.</li>
        </ul>
        <h2>Gerenciamento de cookies</h2>
        <p>Você pode gerenciar ou desativar os cookies nas configurações do seu navegador. No entanto, isso pode afetar a funcionalidade do nosso site.</p>
    </main>    
</div>
{% endblock %}