{% extends 'layouts/legal.html' %}

{% block title %}Política de Privacidade{% endblock %}

{% block body %}
<div id="privacy">
    <header>
        <section id="hero">
            <h1>Política de Privacidade</h1>
            <p>Esta é a nossa política de privacidade. Aqui explicamos como coletamos, usamos e protegemos suas informações pessoais.</p>
        </section>
    </header>
    <main>
        <h2>Coleta de Dados</h2>
        <p>Coletamos informações que você nos fornece diretamente, como nome, email e outras informações de contato. Também coletamos informações automaticamente quando você usa nosso site, como endereço IP, tipo de navegador e páginas visitadas.</p>

        <h2>Uso dos Dados</h2>
        <p>Usamos suas informações para fornecer e melhorar nossos serviços, personalizar sua experiência e comunicar com você sobre atualizações e promoções.</p>

        <h2>Proteção dos Dados</h2>
        <p>Implementamos medidas de segurança para proteger suas informações contra acesso não autorizado, alteração, divulgação ou destruição.</p>
    </main>
</div>
{% endblock %}