@import '../base/variables.css';
@import 'components/sidebar.css';
@import 'components/navbar.css';

#admin { 
    display: flex; 
    height: 100vh;
    height: 100dvh;
}

#admin .container {
    width: 100%;
}

#admin .view {
    padding: 1.2rem;
}