{% extends 'layouts/user.html' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div id="user">
    <div id="dashboard" class="view">
        <header>
            <h1>Curso</h1>
        </header>

        <main>
            <ul>
                <li>
                    <h3>Modulo I</h3>
                </li>
                <li>
                    <h3>Modulo II</h3>
                </li>
                <li>
                    <h3>Modulo III</h3>
                </li>
            <ul>
        </main>
    </div>
</div>
{% endblock %}