{% extends 'layouts/user.html' %}

{% block title %}Lecture{% endblock %}

{% block body %}
<div id="user">
    <div id="module" class="user view">
        <header>
            <p>Descricao</p>
        </header>
        <main>
            <ul>
                <li>
                    <h3>titulo</h3>
                </li>
                <li>
                    <h3>titulo</h3>
                </li>
                <li>
                    <h3>titulo</h3>
                </li>
                <li>
                    <h3>titulo</h3>
                </li>
            </ul>
        </main>
    </div>
</div>
{% endblock %}